.container {
    background: url(http://aaronfonseca.com//portfolio/lunar-calendar/img/starsBG.jpg) repeat 0px 0px;
	animation: space 50s linear infinite;
	    -webkit-animation: space 50s linear infinite;
		-moz-animtion: space 50s linear infinite;
		-o-animation: space 50s linear infinite;
}

@keyframes space
{
  from{background-position: 0px 0px;}
  to{background-position: -600px 0px;}
}
  @-webkit-keyframes space
{
  from{background-position: 0px 0px;}
  to{background-position: -600px 0px;}
}

